<h1>Posts</h1>

<script type="text/x-handlebars">
  {{view EmberRailsDemo.PostIndexView}}
</script>

<script type="text/javascript">
  $(function() {
    EmberRailsDemo.postsController.loadAll(<%= @posts.to_json.html_safe %>);
  });
</script>
